* {
    color: white;
}
a {
    color: #ff0;
}
html {
    padding: 10px 50px 0;
    background-color: #000;
    font-family: '微软雅黑';
}
body {
    padding: 10px;
    background-color: #333;
}
pre {
    border: 1px dotted #ccc;
}

code em {
    font-style: normal;
    color: #ff3;
}

#header {
    padding: 5px;
    margin-bottom: 10px;
    line-height: 0;
    text-align: center;
    font-family: '宋体';
}
#content {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
nav {
    display: -webkit-box;
    width: 300px;
}
nav li {
    margin: 5px 0;
    cursor: pointer;
}

#body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-flex: 1;
}
#body .wrap {
    display: -webkit-box;
    -webkit-box-flex: 1;
    position: relative;
}

#body .item {
    width: 100%;
    /*max-height: 550px;*/
    overflow: auto;
}
#body .item h2, #body .item .content {
    width: 70%;
}
